<%= stylesheet_link_tag 'estilos' %> 
<%= stylesheet_link_tag 'gestor' %> 
<head>
<title>Lista de usuarios</title>
</head>
<h1 class="titulo"><a class="enlacetitulo" href="http://clados.ugr.es/DS1_7">Haz Una Línea Tournament</a></h1>
<% if session[:admin] %>
<h2 class="subtitulo">LISTA DE USUARIOS</h2>

<div id="boton-nuevo">
  <%= link_to "Nuevo usuario", new_usuario_path %>
</div>

<div id="torneos">
  <% @usuarios.each do |usuario| %>
    <div class="torneo-container-button">
      <%= render usuario %>
      <div class="boton-gestor">
        <div>
          <p class="parrafo-boton">
            <%= link_to "Mostrar usuario", usuario %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% else %>

  <h2 class="subtitulo">No estas autorizado para acceder a esta sección</h2>  

  <%end%>