<div id="<%= dom_id torneo %>">
  <p>
    <strong>Nombre:</strong>
    <%= torneo.nombre %>
  </p>

  <p>
    <strong>Fecha max juego:</strong>
    <%= torneo.fecha_max_juego %>
  </p>

  <p>
    <strong>Es bomba:</strong>
    <%= torneo.es_bomba %>
  </p>

  <p>
    <strong>Multiplier:</strong>
    <%= torneo.multiplier %>
  </p>

  <p>
    <strong>Piezas puestas:</strong>
    <%= torneo.piezas_puestas %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= torneo.descripcion %>
  </p>

  <p>
    <strong>Probabilidad:</strong>
    <%= torneo.probabilidad %>
  </p>

</div>
